<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body>
    <div class="bg-gray-200 w-1/2 p-4 mx-auto">
        <h2 class="container text-xl">Home Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut qui provident reprehenderit eveniet, perferendis
            quidem ipsam debitis a quos repellendus! Hic, impedit nam expedita aliquid minima voluptate ratione maiores
            nemo soluta! Saepe temporibus corrupti aperiam molestiae, quasi nam nemo modi quidem accusantium est fugit
            sed maiores atque ea placeat iste illo, nihil ut similique eaque maxime asperiores? Iure, quidem.</p>
        <h2 th:text="${name}"></h2>
        <a th:href="@{https://mail.google.com/mail/u/0/#inbox}">Click here</a>
    </div>

    <div class="parent" th:insert="~{base :: parent(~{::p}) }">
        <p>this is dynmic content</p>

    </div>

</body>

</html>